.ios,.md{

  page-tree-select {
    .item-radio.item-inner .input-wrapper ion-label {
      margin-left: 10px !important;
    }

    .input-wrapper{
      margin-bottom:-2px
    }

    .submit-btn{
      background: #00953B;
    }

    .section {
      background: #7df441;
    }
    .section-active{
      background-color: #fff;
    }

    ion-list-header{
      background-color: #ecf0f1;
      border-radius: 5px;
    }

    .item-md{
      padding-left: 8px !important;
    }

    ion-col{
      margin-top: 8px;
      margin-bottom: 0px;
    }

    h4{
      font-size: 1em !important;
    }

  }
}
