.ios,.md{

  page-tree-select {


    .item-radio.item-inner .input-wrapper ion-label {
      margin-left: 10px !important;
    }

    .submit-btn{
      background: #00953B;
    }

    .section {
      background: #7df441;
    }
    .section-active{
      background-color: #fff;
    }

    .item-md{
      padding-left: 10px !important;
    }

    .margin-padding{
      margin-top: 4px;
      padding: 10px;
    }

  }
}
