<ion-header>
  <ion-navbar color="customColor">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title class="custom-font"
               style="font-size: 2.1em;">গাছ বা ফসল নির্বাচন
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list padding-horizontal>
    <ion-item margin-top>
      <ion-label style="color:#000 !important; font-size: 1em !important;">ঋতু</ion-label>
      <ion-select [(ngModel)]="searchElement.season" interface="popover">
        <ion-option value="1">গ্রীষ্মকালীন</ion-option>
        <ion-option value="2" >শীতকালীন</ion-option>
        <ion-option value="3" >বারোমাসি</ion-option>
      </ion-select>
    </ion-item>

    <ion-item margin-bottom>
      <ion-label style="color:#000 !important;font-size: 1em !important;">ধরণ</ion-label>
      <ion-select [(ngModel)]="searchElement.type" interface="popover">
        <ion-option value="1">ফুল</ion-option>
        <ion-option value="2">ফল</ion-option>
        <ion-option value="3">সবজি</ion-option>
        <ion-option value="4">ওষধি</ion-option>
      </ion-select>
    </ion-item>

    <button ion-button block
            color="customColor"
            class="submit-btn"
            type="button"
            [disabled]="searchElement.type == ' ' || searchElement.season == ' '"
            (click)="submitValue()" style="font-size: 1em !important;
            margin-top:3px;">খুঁজুন
    </button>

  </ion-list>

  <ion-list *ngIf="loadedList?.length > 0"
            style="margin-top: 25px;" margin-horizontal>

    <ion-list-header *ngFor="let eachValue of loadedList; let i = index"
                     no-lines style="margin-bottom: 23px;">

      <ion-item [ngClass]="{'section-active': eachValue.flag != '1', 'section': eachValue.flag == '1'}" no-lines>
        <ion-thumbnail item-start>
          <img src="{{imageUrl + eachValue.photo}}">
        </ion-thumbnail>
        <h4 text-wrap>বাংলা নামঃ {{eachValue.banglaName}}</h4>
        <h4 text-wrap>ইংরেজি নামঃ {{eachValue.englishName}}</h4>
        <h4 text-wrap>বৈজ্ঞানিক নামঃ {{eachValue.scientificName}}</h4>
        <h4 text-wrap>রোপন বা বপন সময়ঃ {{eachValue.seedingTime}}</h4>
      </ion-item>

      <ion-grid no-padding no-margin>
        <ion-row>
          <ion-col text-left col-md-3>
            <button ion-button color="customColor"
                    [navPush]="detailsListPage"
                    [navParams]="eachValue" text-wrap>
              <span style="font-size: 1em !important;">বিস্তারিত</span>
            </button>
          </ion-col>

          <ion-col *ngIf="eachValue.flag != '1' " text-right col-md-7
                   offset-md-2>
            <button ion-button color="customColor"
                    (click)="addToSelectedList(i)" text-wrap>
              <span style="font-size: 1em !important;">নির্বাচিত করতে চাই</span>

            </button>
          </ion-col>

          <ion-col *ngIf="eachValue.flag == '1' " text-right col-md-7
                   offset-md-2>
            <button ion-button color="customColor"
                    (click)="addToSelectedList(i)" text-wrap>
              <span style="font-size: 1em !important;">নির্বাচিত আছে</span>
            </button>
          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-list-header>

  </ion-list>

</ion-content>
