<ion-header>

  <ion-navbar color="customColor">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="custom-font"
               style="font-size: 2.1em;">সমাধান প্রদান
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list padding-horizontal>

    <ion-item-divider sticky>
      <ion-label text-center>
          <span style="color:#000 !important;font-size: 18px;">
            সমস্যা উত্থাপনের তারিখঃ{{loadData.entry_time2}}
          </span>
      </ion-label>
    </ion-item-divider>

    <ion-item no-border detail-none>
      <h2 style="font-size:23px !important;" text-center>সমস্যা নম্বরঃ {{loadData.id}}</h2>
      <h2 style="font-size:23px !important;">সমস্যার বিষয়ঃ {{loadData.category_text}}</h2>
      <h2 style="font-size:20px !important;">যেখানে সমস্যাঃ {{loadData.stage_text}}</h2>
      <h2 style="font-size:20px !important;" text-wrap>সমস্যার বিবরণঃ {{loadData.description}}</h2>
      <h2 style="font-size:23px !important;">সমস্যার উৎথাপকঃ {{loadData.username}}</h2>
    </ion-item>

    <div *ngIf="loadData.image !='---'">
      <ion-item-divider sticky >
        <ion-label text-center>
          <span style="color:#000 !important;
          font-size: 14px;">
            চিত্র তালিকা
          </span>
        </ion-label>
      </ion-item-divider>

      <ion-item margin-bottom>
        <ion-slides class="image-slider" loop="true" slidesPerView="0">
          <ion-slide *ngFor="let img of imagesList">
            <img src="{{imageUrl + img}}"
                 class="thumb-img" imageViewer/>
          </ion-slide>
        </ion-slides>
      </ion-item>

    </div>

    <div *ngIf="loadData.record !='---'">

      <ion-item-divider sticky>
        <ion-label text-center>
          <span style="color:#000 !important;
          font-size: 14px;">
           অডিও ফাইল
          </span>
        </ion-label>
      </ion-item-divider>

    </div>

  </ion-list>

  <form [formGroup]="solutionForm" novalidate
        (ngSubmit)="submitValue()">

    <div text-center margin>

      <audio-input duration="120"
                   title="আইটেমটি প্লে করুন"
                   formControlName="audio">
        <span>বলুন</span>
      </audio-input>

    </div>

    <ion-item-group padding-horizontal>
      <div text-left style="margin-bottom: 8px;">বিবরণ</div>
      <ion-textarea elastic
                    placeholder="বর্ণনা করুন"
                    formControlName="description">
      </ion-textarea>
    </ion-item-group>

    <div margin>
      <button ion-button block
              color="customColor"
              type="submit"
              style="font-size: 1.5em;"
              [disabled]="!solutionForm.valid">
        <span style="margin-top: -3px !important;">পাঠান</span>
      </button>
    </div>

  </form>


</ion-content>
