<ion-header>

  <ion-navbar color="customColor">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="custom-font"
               style="font-size: 2.1em;">সমাধান প্রদান
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list padding-horizontal>

    <ion-item-divider sticky>
      <ion-label text-center
                 style="font-size: 1.2em !important;
                        color: #000; font-weight: bold;">
        সমস্যা উত্থাপনের তারিখঃ {{loadData.entry_time2}}
      </ion-label>
    </ion-item-divider>

    <ion-item no-border detail-none>
      <h4 text-center>সমস্যা নম্বরঃ {{loadData.id}}</h4>
      <h4 text-wrap>সমস্যার বিষয়ঃ {{loadData.category_text}}</h4>
      <h4 text-wrap>যেখানে সমস্যাঃ {{loadData.stage_text}}</h4>
      <h4 text-wrap>সমস্যার বিবরণঃ {{loadData.description}}</h4>
      <h4 text-wrap>সমস্যার উৎথাপকঃ {{loadData.username}}</h4>
    </ion-item>

    <div *ngIf="loadData.image !='---'">
      <ion-item-divider sticky >
        <ion-label text-center>
          <h4 style="font-size: 1em !important; color:#000;">
            চিত্র তালিকা
          </h4>

        </ion-label>
      </ion-item-divider>

      <ion-item margin-bottom>
        <ion-slides class="image-slider" loop="true" slidesPerView="0">
          <ion-slide *ngFor="let img of imagesList">
            <img src="{{imageUrl + img}}"
                 class="thumb-img" imageViewer/>
          </ion-slide>
        </ion-slides>
      </ion-item>

    </div>

    <div *ngIf="loadData.recordData !='---'">

      <ion-item-divider sticky>
        <ion-label text-center>
          <h4 style="font-size: 1em !important; color:#000;">
            অডিও ফাইল
          </h4>
        </ion-label>
      </ion-item-divider>

    </div>

  </ion-list>

  <form [formGroup]="solutionForm" novalidate
        (ngSubmit)="submitValue()">

    <div text-center margin>

      <audio-input duration="120"
                   title="আইটেমটি প্লে করুন"
                   formControlName="audio">
        <span style="font-size: 1em !important;">বলুন</span>
      </audio-input>

    </div>

    <ion-item-group padding-horizontal>
      <div text-left style="font-size: 1em !important;">বিবরণ</div>
      <ion-textarea elastic
                    placeholder="বর্ণনা করুন"
                    formControlName="description">
      </ion-textarea>
    </ion-item-group>

    <div margin>
      <button ion-button block
              color="customColor"
              type="submit"
              [disabled]="!solutionForm.valid">পাঠান
      </button>
    </div>

  </form>

</ion-content>
