<ion-header>
  <ion-navbar color="customColor">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="custom-font"
               style="font-size: 2.1em;">আমার বাগান পরিচর্যা
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list class="accordion-list">

    <ion-list-header *ngFor="let item of loadedList; let i = index"
                     no-lines no-padding>

      <button ion-item (click)="toggleSection(i)" detail-none
              [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-left name="ios-arrow-dropdown"
                  style="color:#00953B; margin-left: 14px;font-size:32px;" *ngIf="!item.open"></ion-icon>
        <ion-icon item-left name="ios-arrow-dropright"
                  style="color:#f3f2f1; margin-left: 14px;font-size:32px;"
                  *ngIf="item.open">
        </ion-icon>

        <h2 style="margin:16px;">
          {{item.banglaName}}
        </h2>

        <ion-badge item-end>
          <span style="font-size: 1em !important;">{{item.eachTreeService}}</span></ion-badge>
      </button>

      <ion-card *ngIf="item.open">
        <ion-card-content>
          <h4 text-wrap margin-top> লাগানো তারিখঃ {{item.dateofSeedingTime}}</h4>
          <h4 text-wrap *ngIf="item.typeOfSeeding == '1'"> লাগানোর ধরণঃ একক</h4>
          <h4 text-wrap *ngIf="item.typeOfSeeding == '2'"> লাগানোর ধরণঃ গ্রুপ</h4>
          <h4 text-wrap *ngIf="item.typeOfSeeding == '2'">সংখ্যাঃ {{item.numberOfGroupElement}}</h4>
          <h4 text-wrap *ngIf="item.typeOfSeeding == '2'">জৈব সারের পরিমানঃ {{item.chemicalFartilizer}}</h4>
          <h4 text-wrap *ngIf="item.typeOfSeeding == '2'" >রাসায়নিক সারের পরিমানঃ {{item.organicFartilizer}}</h4>
        </ion-card-content>

        <ion-row  *ngIf="item.children.length == 0">
          <ion-col right>
            <ion-fab right bottom
                     [navPush]="myGardenCaringPage"
                     [navParams]="item.id">
              <button ion-fab mini color="customColor">
                <ion-icon name="ios-paper-outline">
                </ion-icon>
              </button>
            </ion-fab>
          </ion-col>
        </ion-row>

      </ion-card>

      <ion-list *ngIf="item.children.length > 0 && item.open"
                style="margin-top:10px;" no-padding>
        <ion-item *ngFor="let child of item.children;let j= index">
          <h4 text-wrap margin-left margin-top>পরিচর্যার তারিখঃ {{child.serviceDate}}</h4>
          <h4 text-wrap margin-left>পরিচর্যার ধরণঃ {{child.serviceType}}</h4>
          <h4 text-wrap margin-left margin-bottom>পরিচর্যার বিবরণঃ {{child.description}}</h4>
        </ion-item>

        <ion-row>
          <ion-col right>
            <ion-fab right bottom
                     [navPush]="myGardenCaringPage"
                     [navParams]="item.id">
              <button ion-fab mini color="customColor">
                <ion-icon name="ios-paper-outline">
                </ion-icon>
              </button>
            </ion-fab>
          </ion-col>
        </ion-row>

      </ion-list>

    </ion-list-header>

  </ion-list>


</ion-content>
