<ion-header>
  <ion-navbar color="customColor">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title class="custom-font"
               style="font-size: 2.1em;">নতুন সমস্যা
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form [formGroup]="registrationForm" novalidate (ngSubmit)="submitValue()">

    <ion-list padding-horizontal>
      <ion-item margin-top
                padding-horizontal
                class="custom-border-color">
        <ion-label>সমস্যার বিষয়</ion-label>
        <ion-select okText="ওকে" cancelText="বাতিল"
                    [selectOptions]="selectOptions"
                    formControlName="category">
          <ion-option *ngFor="let eachColor of SELECT_SUBJECT_LABEL"
                      [value]="eachColor.value">
            <p style="font-size: 22px !important;">{{eachColor.text}}</p>
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item margin-top
                padding-horizontal
                class="custom-border-color">
        <ion-label>যেখানে সমস্যা</ion-label>
        <ion-select okText="ওকে" cancelText="বাতিল"
                    [selectOptions]="selectOptions"
                    formControlName="stage">
          <ion-option *ngFor="let eachColor of SELECT_STAGE_LABEL"
                      [value]="eachColor.value">
            <p style="font-size: 22px !important;">{{eachColor.text}}</p>
          </ion-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let photo of photoLists; let id = index">
          <ion-card class="releative">
            <ion-icon  ios="ios-add-circle" md="md-add-circle"
                       class="deleteIcon"
                       (click)="removePhotos(id)"
                       *ngIf="id != (photoLists?.length - 1) "></ion-icon>
            <img [src]="photo" *ngIf="photo"
                 (click)="addMedia(id)"/>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-item-group>
      <div text-left style="margin-bottom: 8px;">বিবরণ</div>
      <ion-textarea elastic
                    placeholder="বর্ণনা করুন"
                    formControlName="description">
      </ion-textarea>
    </ion-item-group>

    <div margin>
      <button ion-button block
              color="customColor"
              type="submit"
              style="font-size: 1.5em;"
              [disabled]="!registrationForm.valid"
              class="custom-font">পাঠান
      </button>
    </div>

  </form>

</ion-content>
