.ios,.md{
  page-problem-form {

    .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
      color: #000;
    }
    .custom-border-color{
      border: 1px solid #dedede;
    }

    .deleteIcon {
      position: absolute !important;
      color: red !important;
      margin-left: 70% !important;
      transform: rotate(45deg);
    }
    .deleteIcon:before {
      font-size: 30px !important;
    }
    .releative {
      position: relative
    }

    ion-item-group{
      padding: 20px;
      -webkit-box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.20);
      -moz-box-shadow:0px 4px 15px -4px rgba(0,0,0,0.20);
      box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.20);
      width: 100%;
    }

    .item {
      margin-bottom: 10px;

      input::-moz-placeholder  {
        color: #fff!important;
      }

      textarea::-moz-placeholder  {
        color: #fff!important;
      }

      input:-moz-placeholder {
        color: #fff!important;
      }

      textarea:-moz-placeholder  {
        color: #fff!important;
      }

      *::-webkit-input-placeholder  {
        color: #fff!important;
      }

      *:-ms-input-placeholder  {
        color: #fff!important;
      }

      *:-moz-placeholder  {
        color: #fff!important;
      }
    }

    ion-input, ion-textarea {
      position: relative;
      display: block;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 100%;
      border: 1px solid #dedede;
    }

  }
}
