<ion-header>
  <ion-navbar color="customColor">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title class="custom-font"
               style="font-size: 2.1em;">নতুন সমস্যা
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="registrationForm" novalidate (ngSubmit)="submitValue()">

    <ion-list padding-horizontal>

      <ion-item-group>
        <ion-item margin-top
                  padding-horizontal
                  class="custom-border-color">
          <ion-label>সমস্যার বিষয়</ion-label>
          <ion-select okText="ওকে" cancelText="বাতিল"
                      [selectOptions]="selectOptions"
                      formControlName="category">
            <ion-option *ngFor="let eachColor of SELECT_SUBJECT_LABEL"
                        [value]="eachColor.value">
              <h4>{{eachColor.text}}</h4>
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-item-group>

      <ion-item-group>

        <ion-item margin-top
                  padding-horizontal
                  class="custom-border-color">
          <ion-label>যেখানে সমস্যা</ion-label>
          <ion-select okText="ওকে" cancelText="বাতিল"
                      [selectOptions]="selectOptions"
                      formControlName="stage">
            <ion-option *ngFor="let eachColor of SELECT_STAGE_LABEL"
                        [value]="eachColor.value">
              <h4>{{eachColor.text}}</h4>
            </ion-option>
          </ion-select>
        </ion-item>

      </ion-item-group>

    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col col-4 *ngFor="let photo of photoLists; let id = index">
          <ion-card class="releative">
            <ion-icon  ios="ios-add-circle" md="md-add-circle"
                       class="deleteIcon"
                       (click)="removePhotos(id)"
                       *ngIf="id != (photoLists?.length - 1) "></ion-icon>
            <img [src]="photo" *ngIf="photo"
                 (click)="addMedia(id)"/>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>


    <div text-center margin>

      <audio-input duration="120"
                   title="আইটেমটি প্লে করুন"
                   formControlName="audio">
        <span style="font-size: 1em !important;">বলুন</span>
      </audio-input>

    </div>


    <ion-item-group>
      <ion-label text-left style="margin-bottom: 8px;
      font-size: 1em !important;">বিবরণ</ion-label>
      <ion-textarea elastic
                    placeholder="বর্ণনা করুন"
                    formControlName="description">
      </ion-textarea>
    </ion-item-group>

    <ion-item-group>
      <ion-item margin-top
                padding-horizontal
                class="custom-border-color">
        <ion-label>পাবলিক প্রশ্ন</ion-label>
        <ion-select okText="ওকে" cancelText="বাতিল"
                    [selectOptions]="selectOptions"
                    formControlName="questionType">
          <ion-option *ngFor="let eachColor of QUESTION_TYPE"
                      [value]="eachColor.value">
            <h4>{{eachColor.text}}</h4>
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-item-group>

    <div margin>
      <button ion-button block
              color="customColor"
              type="submit"
              [disabled]="!registrationForm.valid">
        <span style="margin-top: -3px !important;">পাঠান</span>
      </button>
    </div>

  </form>

</ion-content>
