<ion-header>
  <ion-navbar color="customColor">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="custom-font"
               style="font-size: 2.1em;">বিস্তারিত সমাধান
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-list padding-horizontal>

    <ion-item-divider sticky>

      <ion-label style="font-size: 1.2em !important;" text-center>
        সমাধানের তারিখঃ {{loadData.solution_time | date: 'dd-MM-yyyy'}}
      </ion-label>

    </ion-item-divider>

    <ion-item no-border detail-none>
      <h4 text-wrap>সমস্যা নম্বরঃ {{loadData.problem_id}}</h4>
      <h4 text-wrap>সমস্যা তারিখঃ {{loadData.problem_entry_date}}</h4>
      <h4 text-wrap>সমস্যার বিষয়ঃ {{loadData.problem_category_text}}</h4>
      <h4 text-wrap>যেখানে সমস্যাঃ {{loadData.problem_stage_text}}</h4>
      <h4 text-wrap>সমস্যা বিবরণঃ  {{loadData.problem_description}}</h4>
      <h4 text-wrap>সমস্যা উপস্থাপন করেছেনঃ {{loadData.problem_owner}}</h4>
    </ion-item>

    <div *ngIf="loadData.problem_image !='---'">
      <ion-item-divider sticky >
        <ion-label style="font-size: 1em !important;" text-center>
          সমস্যার চিত্র তালিকা
        </ion-label>
      </ion-item-divider>

      <ion-item margin-bottom>
        <ion-slides class="image-slider" loop="true" slidesPerView="0">
          <ion-slide *ngFor="let img of imagesList">
            <img src="{{imageUrl + img}}"
                 class="thumb-img" imageViewer/>
          </ion-slide>
        </ion-slides>
      </ion-item>

    </div>

    <div *ngIf="loadData.problem_record !='---'">

      <ion-item-divider sticky>
        <ion-label style="font-size: 1em !important;" text-center>
          সমস্যার অডিও ফাইল
        </ion-label>
      </ion-item-divider>

    </div>

  </ion-list>

  <ion-list padding-horizontal>

    <ion-item-divider sticky>
      <ion-label style="font-size: 1.2em !important;" text-center>
        সমস্যার সমাধান
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <h4>সমাধানের বিবরণঃ  {{loadData.solution_description}}</h4>
      <h4>সমাধানের মানুষঃ {{loadData.solution_owner}}</h4>
    </ion-item>

    <div *ngIf="loadData.solution_record !='---'">

      <ion-item-divider sticky>
        <ion-label style="font-size: 1em !important;" text-center>
          সমস্যার অডিও ফাইল
        </ion-label>
      </ion-item-divider>

    </div>

  </ion-list>

</ion-content>
