<ion-header>


  <ion-navbar color="customColor">

    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="custom-font"
               style="font-size: 2.1em;">সমাধান সমুহ
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="status()">
        <ion-icon name="md-analytics"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list *ngIf="loadedData.lists?.length > 0 && adminFlag">

    <ion-item-group *ngFor="let item of loadedData.lists">

      <ion-item-divider sticky>
        <ion-label style="font-size: 1.2em !important;" text-center>
          সমাধানের তারিখঃ {{item.solution_time}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let session of item.problems"
                        [attr.track]="session.tracks">

        <button ion-item
                (click)="adminSolution(session)">
          <h4 text-wrap>সমস্যা নম্বরঃ {{session.problem_id}}</h4>
          <h4 text-wrap>সমস্যা তারিখঃ {{session.problem_entry_date}}</h4>
          <h4 text-wrap>সমস্যার বিষয়ঃ {{session.problem_category_text}}</h4>
          <h4 text-wrap>যেখানে সমস্যাঃ {{session.problem_stage_text}}</h4>
          <h4 text-wrap>সমস্যা বিবরণঃ  {{session.problem_description}}</h4>
          <h4 text-wrap>সমস্যার উৎথাপকঃ {{session.problem_owner}}</h4>
        </button>

      </ion-item-sliding>

    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="loadedData.lists?.length > 0 && !adminFlag">

    <ion-item-group *ngFor="let item of loadedData.lists">

      <ion-item-divider sticky>
        <ion-label style="font-size: 1.2em !important;" text-center>
          সমাধানের তারিখঃ {{item.solution_time}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let session of item.problems"
                        [attr.track]="session.tracks">
        <ion-item no-padding (click)="adminSolution(session)">
          <h4 text-wrap>সমস্যা নম্বরঃ {{session.problem_id}}</h4>
          <h4 text-wrap>সমস্যা তারিখঃ {{session.problem_entry_date}}</h4>
          <h4 text-wrap>সমস্যার বিষয়ঃ {{session.problem_category_text}}</h4>
          <h4 text-wrap>যেখানে সমস্যাঃ {{session.problem_stage_text}}</h4>
          <h4 text-wrap>সমস্যা বিবরণঃ  {{session.problem_description}}</h4>
          <h4 text-wrap>সমাধানের মানুষঃ {{session.solution_owner}}</h4>
        </ion-item>
      </ion-item-sliding>

    </ion-item-group>

  </ion-list>

  <ion-list-header *ngIf="loadedData.lists?.length == 0">
    কোন সমাধান পাওয়া যায় নি।
  </ion-list-header>

</ion-content>
