.ios,.md{
  page-slides {

    ion-content {
      background-color: #EFEFEF !important;
    }

    .diag {
      position:absolute;
      z-index:1;
      width:100%;
      top: 0;
      height:100%;
    }

    ion-icon {
      margin-top:40%;
      font-size:7em;
    }

    h2 {
      margin-top:80% !important;
      font-weight:bold;
      font-size:1em;
    }

    p {
      width:80%;
      display:block;
      margin: 0 auto;
      font-size:.9em;
    }

    .swiper-pagination-bullet-active {
      background:#00953B;
    }

    .swiper-pagination {
      bottom: 12% !important;
    }

    #skip {
      position:absolute;
      bottom: 30px;
      width:100%;
      background: none !important;
      text-align: center;
      cursor: pointer;
      z-index: 5;
      padding: 20px;
    }

    .scroll-content {
      overflow-y: auto;
    }

    //ion-slide{
    //  background-image: url("assets/img/whitebg.svg");
    //  background-repeat: no-repeat;
    //  background-position: center;
    //  background-attachment: fixed;
    //}

  }
}

